## Deliverable 2. Create a Customer Travel Destinations Map.

In [40]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [41]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
0,0,Minab,27.1467,57.0801,57.20,82,20,4.61,IR,2021-01-16 19:49:38,mist
1,1,Rio De Janeiro,-22.9028,-43.2075,100.40,62,20,10.36,BR,2021-01-16 19:45:49,few clouds
2,2,Hithadhoo,-0.6000,73.0833,81.16,76,100,10.96,MV,2021-01-16 19:46:49,overcast clouds
3,3,Nchelenge,-9.3451,28.7340,72.12,77,100,5.30,ZM,2021-01-16 19:49:39,overcast clouds
4,4,Bathsheba,13.2167,-59.5167,84.20,54,20,20.71,BB,2021-01-16 19:47:18,few clouds

In [34]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 80

In [43]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
0,0,Minab,27.1467,57.0801,57.20,82,20,4.61,IR,2021-01-16 19:49:38,mist
3,3,Nchelenge,-9.3451,28.7340,72.12,77,100,5.30,ZM,2021-01-16 19:49:39,overcast clouds
5,5,Los Llanos De Aridane,28.6585,-17.9182,64.40,59,75,10.36,ES,2021-01-16 19:49:39,broken clouds
6,6,Nouakchott,18.0858,-15.9785,77.00,6,100,10.36,MR,2021-01-16 19:48:54,sand
9,9,Mbandaka,0.0487,18.2603,73.62,80,97,1.77,CD,2021-01-16 19:49:39,overcast clouds
10,10,Rincon,32.2960,-81.2354,53.60,32,75,21.85,US,2021-01-16 19:45:31,broken clouds
12,12,Marawi,7.9986,124.2928,73.99,96,100,4.00,PH,2021-01-16 19:49:39,overcast clouds
13,13,Rehoboth,-23.3167,17.0833,78.33,47,99,6.02,NaN,2021-01-16 19:46:03,overcast clouds
14,14,Nouadhibou,20.9310,-17.0347,69.80,35,98,12.66,MR,2021-01-16 19:49:39,dust
15,15,Sao Filipe,14.8961,-24.4956,71.89,75,53,10.27,CV,2021-01-16 19:49:39,broken clouds

In [44]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID        459
City           459
Lat            459
Lng            459
Max Temp       459
Humidity       459
Cloudiness     459
Wind Speed     459
Country        441
Date           459
Description    459
dtype: int64

In [45]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
0,0,Minab,27.1467,57.0801,57.20,82,20,4.61,IR,2021-01-16 19:49:38,mist
3,3,Nchelenge,-9.3451,28.7340,72.12,77,100,5.30,ZM,2021-01-16 19:49:39,overcast clouds
5,5,Los Llanos De Aridane,28.6585,-17.9182,64.40,59,75,10.36,ES,2021-01-16 19:49:39,broken clouds
6,6,Nouakchott,18.0858,-15.9785,77.00,6,100,10.36,MR,2021-01-16 19:48:54,sand
9,9,Mbandaka,0.0487,18.2603,73.62,80,97,1.77,CD,2021-01-16 19:49:39,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
730,730,Yokadouma,3.5167,15.0500,75.31,44,0,2.19,CM,2021-01-16 19:50:32,clear sky
731,731,Ondjiva,-17.0667,15.7333,75.69,25,14,9.15,AO,2021-01-16 19:50:32,few clouds
732,732,Lira,2.2350,32.9097,75.00,48,87,2.73,UG,2021-01-16 19:50:32,overcast clouds
733,733,Rakai,-0.7200,31.4839,64.29,84,100,2.19,UG,2021-01-16 19:50:32,overcast clouds
734,734,Zabid,14.1951,43.3152,75.09,61,0,5.35,YE,2021-01-16 19:50:32,clear sky

In [46]:
clean_df = clean_df.rename(columns={'Description' : 'Current Description'})

In [47]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Minab,IR,57.20,mist,27.1467,57.0801,
3,Nchelenge,ZM,72.12,overcast clouds,-9.3451,28.7340,
5,Los Llanos De Aridane,ES,64.40,broken clouds,28.6585,-17.9182,
6,Nouakchott,MR,77.00,sand,18.0858,-15.9785,
9,Mbandaka,CD,73.62,overcast clouds,0.0487,18.2603,
10,Rincon,US,53.60,broken clouds,32.2960,-81.2354,
12,Marawi,PH,73.99,overcast clouds,7.9986,124.2928,
14,Nouadhibou,MR,69.80,dust,20.9310,-17.0347,
15,Sao Filipe,CV,71.89,broken clouds,14.8961,-24.4956,
16,Okitipupa,NG,77.54,scattered clouds,6.5047,4.7839,

In [48]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except Exception:
        continue

In [49]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Minab,IR,57.20,mist,27.1467,57.0801,Bam campground
3,Nchelenge,ZM,72.12,overcast clouds,-9.3451,28.7340,KD Travellers Home
5,Los Llanos De Aridane,ES,64.40,broken clouds,28.6585,-17.9182,Valle Aridane
6,Nouakchott,MR,77.00,sand,18.0858,-15.9785,Hôtel Iman
9,Mbandaka,CD,73.62,overcast clouds,0.0487,18.2603,Guest House Epervier
10,Rincon,US,53.60,broken clouds,32.2960,-81.2354,Bent tree subdivision
12,Marawi,PH,73.99,overcast clouds,7.9986,124.2928,Derogongan Residence
14,Nouadhibou,MR,69.80,dust,20.9310,-17.0347,El Medina
15,Sao Filipe,CV,71.89,broken clouds,14.8961,-24.4956,Tortuga B&B
16,Okitipupa,NG,77.54,scattered clouds,6.5047,4.7839,Coastal Hotel & Suites

In [50]:
hotel_df['Hotel Name'] = hotel_df['Hotel Name'].str.replace('"','')
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Minab,IR,57.20,mist,27.1467,57.0801,Bam campground
3,Nchelenge,ZM,72.12,overcast clouds,-9.3451,28.7340,KD Travellers Home
5,Los Llanos De Aridane,ES,64.40,broken clouds,28.6585,-17.9182,Valle Aridane
6,Nouakchott,MR,77.00,sand,18.0858,-15.9785,Hôtel Iman
9,Mbandaka,CD,73.62,overcast clouds,0.0487,18.2603,Guest House Epervier
10,Rincon,US,53.60,broken clouds,32.2960,-81.2354,Bent tree subdivision
12,Marawi,PH,73.99,overcast clouds,7.9986,124.2928,Derogongan Residence
14,Nouadhibou,MR,69.80,dust,20.9310,-17.0347,El Medina
15,Sao Filipe,CV,71.89,broken clouds,14.8961,-24.4956,Tortuga B&B
16,Okitipupa,NG,77.54,scattered clouds,6.5047,4.7839,Coastal Hotel & Suites

In [52]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].isnull().sum()

0

In [54]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [55]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [56]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))